<link rel="stylesheet" href="blogpost.css">

<!-- Generates html code for every blog post that it reads from the dummy-data.js-->
<div class="container">
    <div class="row">
        <div class="col-md-12 align-items-md-center">
            <h1 class="my-4 text-center">Blog Posts</h1>
            <form class="form-inline my-2 my-lg-0" action="/blog/search" method="GET">
                <input class="form-control mr-sm-2" name="inputedSearch" type="search" placeholder="Search" aria-label="Search">
                <label class="mr-2 ml-2">Posts From: </label><input class="form-control" name="dateFrom" type="date" value="{{startDate}}">
                <label class="mr-2 ml-2">Posts before: </label><input class="form-control" name="dateTo" type="date" value="{{todaysDate}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- Blog Post -->
            {{#if couldNotDeletePost}}
                <h3>The server could not delete the post please try again or contact server admin</h3>
            {{/if}}
            {{#if validationErrors.length}}
                {{#each validationErrors}}
                    <p class="text-danger">{{this}}</p>
                {{/each}}
            {{/if}}
            {{#if somethingWentWrong}}
                <h3>Sorry!</h3>
                <p>Something went wrong when loading the blog posts</p>
            {{else}}
                <!-- For each blog post that is in the data file it will generate a blog post -->
                {{#if blogpost.length}}
                    {{#each blogpost}}
                        <div class="my-5 card">
                            <div class="card-body">
                                <h2 class="card-title text-center">{{blogpostHeader}}</h2>
                                <p class="card-text preview-text font-weight-light">{{{blogpostText}}}</p>
                                <a href="/blog/post/{{blogpostID}}" class="btn btn-primary">Read More →</a>
                            </div>
                            <div class="card-footer text-muted">
                            Posted on {{blogpostDate}} by Emil Persson
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            {{/if}}
        </div>
    </div>
    <ul class="pagination justify-content-center mb-4">
        {{#if disabledNext}}
            <li class="page-item {{disabled}}">
        {{else}}
            <li class="page-item">
        {{/if}}
            <a class="page-link" href="/blog/{{previousPage}}">← Newer</a>
        </li>
        {{#if disabledPrevious}}
            <li class="page-item {{disabled}}">
        {{else}}
            <li class="page-item">
        {{/if}}
            <a class="page-link {{disabled}}" href="/blog/{{nextPage}}">Older →</a>
        </li>
    </ul>
</div>
