<head>
    <link rel="stylesheet" href="create-post.css">
</head>

<main>
    <br>
    <div class="jumbotron container">
        <form class="form-createpost form" method="POST" action="/portfolio/{{project.id}}/edit">
            <h1 class="text-center">Edit project</h1>
            <div class="text-center mb-4">
                {{#if validationErrors.length}}
                    <p>Errors:</p>
                    <ul>
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="projectName" type="text" class="form-control" placeholder="Blogpost Header" value="{{project.name}}">
            </div>
            <br>
            <div class="form-label-group">
                <textarea name="projectDescription" class="form-control" rows="10" placeholder="Description">{{project.description}}</textarea>
            </div>
            <br>
            <div class="form-label-group">
                <input name="projectLink" type="text" class="form-control" placeholder="Link to project" value="{{project.link}}">
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
        </form>
    </div>
</main>
