<main>
    <div class="jumbotron container" id="create-post-form">
        <form class="form-createpost form" method="POST" action="/blog/post/{{blogpost.blogpostID}}/edit">
            <h1 class="text-center">Edit blogpost</h1>
            <div class="text-center mb-4">
                {{#if validationErrors.length}}
                    <p>Errors:</p>
                    <ul>
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="blogpostHeader" type="text" id="blogpostHeader create-post-input-field" class="form-control" placeholder="Blogpost Header" value="{{blogpost.blogpostHeader}}">
            </div>
            <div class="form-label-group">
                <textarea name="blogpostText" class="form-control" rows="10" placeholder="Main content" id="create-post-input-field">{{blogpost.blogpostText}}</textarea>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="create-post-submitbutton">Post</button>
        </form>
    </div>
</main>
