<main>
    <br>
    <div class="jumbotron container">
        <form class="form-createpost form" method="POST" action="/comment/{{comment.commentID}}/edit">
            <h1 class="text-center">Edit comment</h1>
            <div class="text-center mb-4">
                {{#if validationErrors.length}}
                    <p>Errors:</p>
                    <ul>
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="commentPublisher" type="text" class="form-control" placeholder="Comment Publisher" value="{{comment.commentPublisher}}">
            </div>
            <br>
            <div class="form-label-group">
                <textarea name="commentText" class="form-control" rows="10" placeholder="Comment content">{{comment.commentText}}</textarea>
            </div>
            <br>
            <div class="form-label-group">
                {{!-- Use multer for handeling images --}}
                {{!-- <input name="blogpostImage" type="file" id="blogpostImage" accept="image/*"> --}}
                <input type="hidden" name="blogpostID" value="{{comment.blogpostID}}">
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
        </form>
    </div>
</main>
