<head>
    <link rel="stylesheet" href="create-post.css">
</head>

<main>
    <br>
    <div class="jumbotron container">
        <form class="form-createpost form" method="POST" action="/blog/post/{{blogpost.blogpostID}}/edit">
            <h1 class="text-center">Edit blogpost</h1>
            <div class="text-center mb-4">
                {{#if validationErrors.length}}
                    <p>Errors:</p>
                    <ul>
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="blogpostHeader" type="text" id="blogpostHeader" class="form-control" placeholder="Blogpost Header" value="{{blogpost.blogpostHeader}}">
            </div>
            <br>
            <div class="form-label-group">
                <textarea name="blogpostText" class="form-control" rows="10" placeholder="Main content">{{blogpost.blogpostText}}</textarea>
            </div>
            <br>
            <div class="form-label-group">
                {{!-- Use multer for handeling images --}}
                {{!-- <input name="blogpostImage" type="file" id="blogpostImage" accept="image/*"> --}}
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
        </form>
    </div>
</main>
