<main>
    <div class="jumbotron container" id="create-post-form">
        <form class="form-createpost form" method="POST" action="/comment/{{comment.commentID}}/edit">
            <h1 class="text-center">Edit comment</h1>
            <div class="text-center mb-4">
                {{#if validationErrors.length}}
                    <p>Errors:</p>
                    <ul>
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="commentPublisher" type="text" class="form-control" placeholder="Comment Publisher" value="{{comment.commentPublisher}}" id="create-post-input-field">
            </div>
            <div class="form-label-group">
                <textarea name="commentText" class="form-control" id="create-post-input-field" rows="10" placeholder="Comment content">{{comment.commentText}}</textarea>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="create-post-submitbutton">Post</button>
        </form>
    </div>
</main>
