<h1 class="text-center">Projects</h1>
<div class="container">
    <p>Here you can find the projects that i have worked with</p>
    <table class="table table-striped col-md" id="project-table">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">description</th>
            <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {{#if projects.length}}
            {{#each projects}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td><a href="{{link}}" target="_blank">{{link}}</a></td>
                </tr>
            {{/each}}
            {{else}}
                <td>No</td>
                <td>Projects</td>
                <td>Found</td>
            {{/if}}
        </tbody>
    </table>
</div>